#[probe]
#pin: ^EBBCan: PB8
##z_offset: 0
#speed: 5
#samples: 2
#samples_result: average
#sample_retract_dist: 1.2
#samples_tolerance: 0.005
#samples_tolerance_retries: 20
#x_offset: -21.5
#y_offset: 11

[BDsensor] 
scl_pin: EBBCan: PB9    # Servo signal port
sda_pin: EBBCan: PB8    # Limit signal port
delay: 20               # 20us per pulse, this value should be >=20 but must be below 50
z_offset: 0             # this `z_offset` must be set to 0. 
z_adjust: 0.05          # z axis adjustment, replace the z_offset function. within -0.3 to 0.3mm. Lower number results in lower nozzle.
x_offset: -31.2
y_offset: 3.4
no_stop_probe: true     # enable this for fast probe, the toolhead will not stop at the probe point.
position_endstop: 0.8   # the Z axis will stop at this position (mm) while homing z, recommend value is 0.4~1.0
speed: 5.0              # this speed only works for the z tilt and PROBE_ACCURACY command.

[z_tilt]
z_positions:        -50,0
                    167,0
                    60,122
points:             48,5
                    128,5
                    87.5,90
speed:              200
horizontal_move_z:  0.8
retries:            20
retry_tolerance:    .01

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
description:
gcode:
    #run z tilt with z move up and down at first
    BDSENSOR_SET QGL_TILT_PROBE=1 #set this 1 to enable z axis up and down
    BDSENSOR_SET COLLISION_HOMING=0
    _Z_TILT_ADJUST horizontal_move_z=5 retry_tolerance=1
    #G28 Z0
    #run z tilt with no z move up and down
    BDSENSOR_SET QGL_TILT_PROBE=0 #set this 0 to disable z axis up and down while probe
    _Z_TILT_ADJUST horizontal_move_z=0.8 retry_tolerance=0.01
    #BDSENSOR_SET COLLISION_HOMING=1 #optional

[bed_mesh]
speed: 200
horizontal_move_z: 0.8
mesh_min: 5,5
mesh_max: 96,100
probe_count: 10,10
algorithm: bicubic
zero_reference_position: 58,60
adaptive_margin: 6