[mcu]
canbus_uuid: ffc440942eaf

[mcu EBBCan]
canbus_uuid: d7b41918afce

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 8000		
max_z_velocity: 25 			
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor buildplate]
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: -40
max_temp: 120

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PA2
min_temp: -40
max_temp: 100

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA2
min_temp: -40
max_temp: 100

[temperature_sensor CB1]
sensor_type: temperature_host


#####################################
#              STEPPER              #
#####################################
[include stepper.cfg]

#####################################
#             EXTRUDER              #
#####################################
[include extruder.cfg]

#####################################
#               FAN                 #
#####################################
[include fan.cfg]

#####################################
#               BED                 #
#####################################
[include bed.cfg]

#####################################
#               PROBE               #
#####################################
[include probe.cfg]

#####################################
#              ADXL345              #
#####################################
[include adxl345.cfg]

#####################################
#            REQUIRED               #
#####################################
[include required.cfg]

#####################################
#         FILAMENT SENSOR           #
#####################################
[include filament_sensor.cfg]

#####################################
#              MACROS               #
#####################################
[include macros/*.cfg]

#####################################
#               RGB                 #
#####################################
[include rgb.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.846
#*# pid_ki = 2.094
#*# pid_kd = 106.329
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.240
#*# pid_ki = 1.277
#*# pid_kd = 243.155
#*#
#*# [probe]
#*# z_offset = -0.23
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 52.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.196789, 0.225539, 0.224289, 0.216789, 0.204289, 0.201789, 0.186789, 0.201789, 0.175539
#*# 	  0.208039, 0.204289, 0.216789, 0.186789, 0.203039, 0.191789, 0.173039, 0.191789, 0.216789
#*# 	  0.203039, 0.206789, 0.196789, 0.214289, 0.199289, 0.209289, 0.179289, 0.170539, 0.179289
#*# 	  0.179289, 0.180539, 0.178039, 0.175539, 0.155539, 0.155539, 0.166789, 0.153039, 0.141789
#*# 	  0.175539, 0.150539, 0.164289, 0.161789, 0.148039, 0.141789, 0.134289, 0.128039, 0.134289
#*# 	  0.163039, 0.170539, 0.173039, 0.180539, 0.180539, 0.175539, 0.160539, 0.150539, 0.139289
#*# 	  0.199289, 0.199289, 0.228039, 0.196789, 0.241789, 0.201789, 0.165539, 0.189289, 0.164289
#*# 	  0.191789, 0.216789, 0.236789, 0.206789, 0.233039, 0.198039, 0.204289, 0.176789, 0.191789
#*# 	  0.198039, 0.191789, 0.234289, 0.175539, 0.213039, 0.200539, 0.224289, 0.186789, 0.170539
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 290.0
#*# min_y = 10.0
#*# max_y = 290.0
