[extruder]
max_extrude_only_distance: 150.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.772530120481927808
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
min_extrude_temp: 150
pressure_advance = 0.085

[input_shaper]
#shaper_freq_x: 54.2636
#shaper_freq_y: 49.6894
shaper_freq_x: 48.67256
shaper_freq_y: 47.36842
shaper_type: ei