[gcode_shell_command SEND_EMAIL_COMPLETE]
;description: Calls python script to send email upon completion
command: bash -c 'source ~/klipper_config/vars.sh && $python_path/python ~/klipper_config/macros/send_email.py -el "$email_user" -epwd "$email_pwd" -t "$email_to" -s "Print Complete"'
timeout: 10.
verbose: True

[gcode_shell_command SEND_EMAIL_RUNOUT]
;description: Calls python script to send email upon filament runout. Must have configured filament sensor to run gcode which calls this gcode_shell_command.
command: bash -c 'source ~/klipper_config/vars.sh && $python_path/python ~/klipper_config/macros/send_email.py -el "$email_user" -epwd "$email_pwd" -t "$email_to2" -s "Filament Runout"'
timeout: 10.
verbose: True

[gcode_shell_command SEND_EMAIL_CHANGE]
;description: Calls python script to send email upon filament change
command: bash -c 'source ~/klipper_config/vars.sh && $python_path/python ~/klipper_config/macros/send_email.py -el "$email_user" -epwd "$email_pwd" -t "$email_to2" -s "Filament Change"'
timeout: 10.
verbose: True

[gcode_macro TEST_EMAIL]
description: Test email macros
gcode:
  RUN_SHELL_COMMAND CMD=SEND_EMAIL_COMPLETE